*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.leftsidebar{
    width:200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;

}
.rightslidebar {
    width: calc(100% - 200px);
    margin-left: 200px;
}
/*reset css*/
p{
    margin-bottom: 0;
}
h6{
    font-size: 12px;
}

/*common classes*/
.font-size{
    font-size: 35px;
}
.font-size-1{
    font-size: 15px;
}
.font-size-name{
    font-size: 0.95rem;
}
.border-radius{
    border-radius: 1rem !important;
}
.margin-1{
    margin-left: 2rem;
}
.rounded{
    border-radius: 1rem !important;
    box-shadow: 1px 1px 6px rgb(0 0 0 / 20%);
}
.graph-image>img{
    height: 9rem;
    width: 100%;
    object-fit: contain;
}
.donut>img{
   
    
    object-fit: contain;
    justify-content: space-around;
}
.padding-bot{
    padding-bottom: 25px;
}
.ptb-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.emoji-back{
    height: 20px;
    width: 20px;
    background-color: blue;  
    border-radius: 0.25rem; 
}


/*.bar{
   display: flex;
   height: 100%;
}
.bar div.col-1 {
    background: rgb(199, 191, 191);
    height: 80%;
    width: 17px;
    margin: 11.5px;
}
.progress-1{
    background: rgb(79, 79, 175);
    width: 100%;
    height: 40%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.progress-2{
    background:  rgb(79, 79, 175);
    width: 100%;
    height: 50%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.progress-3{
    background:  rgb(79, 79, 175);
    width: 100%;
    height: 45%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.progress-4{
    background:  rgb(79, 79, 175);
    width: 100%;
    height: 20%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.progress-5{
    background:  rgb(79, 79, 175);
    width: 100%;
    height: 60%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.progress-6{
    background: rgb(79, 79, 175);
    width: 100%;
    height: 80%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; 
}*/

/*.col-1{
    padding: 0;
    display: flex;
    align-items: flex-end;
     border-top-right-radius:1rem ;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem; 
}
.col-1, .col-1 div{
    border-radius: 1rem;
}*/

/*
++++++++++++++++++++++++++++++
Progress Bar
++++++++++++++++++++++++++++++
*/

.progress-bars{
    display: flex;
    justify-content: space-between;
}

.progress-bars .progress-inner{

}

.progress-bars .progress-inner .bar-common{
    height: 200px;
    width: 30px;
    background: #f5f5f5;
    position: relative;
}
.progress-bars .progress-inner .bar-month{
    font-size: 8px;
    text-align: center;
}
.progress-bars .progress-inner .bar-common .bar-bg{
    background: blue;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
/*.progress-bars .progress-inner .bar-common .bar-height-mar{

}
.progress-bars .progress-inner .bar-common .bar-height-apr{
    
}*/
/*
+++++++++++++++++++++++++++++++
Departments list
+++++++++++++++++++++++++++++++
*/


.rainbow-li{
    margin: 0;
}
.rainbow-li li{
    list-style-type: none;
    padding-left: 18px;
    position: relative;
    margin-bottom: 10px;
} 
.rainbow-li li:before{
    content: '';
    width: 8px;
    height: 8px;
    background: gray;
    position: absolute;
    left: 0;
    border-radius: 30px;
    top: 7px;
}
.rainbow-li li:after{
    content: '';
    width: 8px;
    height: 8px;
    background: gray;
    position: absolute;
    right: 0;
    border-radius: 30px;
    top: 7px;
}

.rainbow-li li:nth-child(1):before{
    background: blue;
}
.rainbow-li li:nth-child(2):before{
    background: red;
}
.rainbow-li li:nth-child(3):before{
    background: green;
}



