* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
}


/*Common classes*/
.plr-140{
padding-left: 140px;
padding-right: 140px;
}
.container {
    width: 1200px;
    margin: auto;
}
.overflow-hidden {
    overflow: hidden;
}
.h4{

    font-weight: 600;
}

.flex {
    display: flex;
}
.text-align-center {
    text-align: center;
}

.font-color {
    color: white;
}
.image-wh>img {
    width: 70%;
    height: 70%;
}

.f-direction {
    display: flex;
    justify-content: space-between;
}

.image2-hw>img {
    height: auto;
    width: 60%;
}

.heading {
    color: #000;
}
.img-rel {
    position: relative;
    /*background-image: url('assets/images/tower.jpg') no-repeat center center;*/
    background-size: cover;
    height: 500px;
    width: 300px;
}

.img-abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0,0,0,0.3);*/
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
.grey-text2 {
    color: #9e9e9e !important;
}


.para-size {
    font-size: 1.25rem;
    font-weight: 300;
}
.grey-text {
    color: #607d8b !important;
}
.orange-text {
    color: #ff9800;
}
.cyan-text {
    color: #00bcd4;
}
.red-text {
    color: #f44336;
}
.indigo-text {
    color: #3f51b5;
}
.deep-purple-text {
    color: #673ab7;
}
.pink-text {
    color: #e91e63;
}
.blue-text {
    color: #2196f3 !important;
}
.blue {
    background-color: blueviolet;
}

.blueviolet {
    background-color: plum;
}

.green {
    background-color: seagreen;
}

.skyblue {
    background-color: skyblue;
}

.indigo{
    background-color: #3949ab !important;
}
.btn-color {
    color: #fff;
    background-color: #3f51b5 !important;
}
.btn {
    margin: 0.375rem;
    cursor: pointer;
    border: 0;
    border-radius: 0.125rem;
    padding: 0.84rem 2.14rem;
    font-size: .81rem;
}
.btn-2
{
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    height: 50px;
    width: 150px;
    color: white;
    font-size: 1rem;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
.form-element{
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 22px;
    cursor: pointer;
    background-color:transparent;
    height: 50px;
    width: 200px;
}

.ptb
{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.ptb-1
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.pt-2
{
    padding-top: 2rem;
}
.pt-3{
    padding-top: 3rem;
}
.pb-3
{
    padding-bottom: 3rem;
}
.pb-1{
    padding-bottom: 1rem;
}
.pt-1{
    padding-top: 1rem;
}
.h1{
    font-size: 40px;
}
.pr-2
{
    padding-right: 2rem;
}
.text-align
{
    text-align: left;
}
/*area*/
.w-40 {
    width: 40%;
    float: left;
}

.w-60 {
    width: 60%;
    float: left;
}

.customwidth {
    width: 25%;

}

/*This is the code for Header*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*padding: 0 2rem;*/
    /*height: 75px;*/
    /* position: fixed; */
}

.bg-color {
    background-color: whitesmoke;
}
.white-text {
    color: #fff !important;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar ul li a {
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    color: #000;
}
.rgba-black{
    background-color: rgba(0,0,0,0.7);
}
.hero {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-weight: 750;
}
.footer-div1
{
    background-color: #3f51b5 ;
    padding: 30px 0;
    left: 0;
    right: 0;
     
}
.footer-div2
{
    background-color: #303f9f;
    padding: 30px 0;
    left: 0;
    right: 0;  
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.px{
    padding-left: 1rem;
    padding-right: 1rem;
}
.px-2{
    padding-left: 2rem;
    padding-right: 2rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}